* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #d5e1ef;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: #ffffff;
  border-radius: 20px;
  height: 32rem;
  width: 20rem;
  padding-top: 16px;
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 40px;
}

.container > img {
  border-radius: 10px;
}

.content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
}

.content > h1 {
  color: #1f314f;
  font-size: 22px;
  font-weight: bold;
}

.content > p {
  color: #68778d;
  font-size: 15px;
  letter-spacing: 0.2px;
  line-height: 140%;
}
